﻿.legend {
	list-style: none;
	margin-bottom: 20px;
	padding-left: 0;

	$icon-size: 20px;

	&__item {
		margin-bottom: 2px;
	}

	&__color {
		display: inline-block;
		height: $icon-size;
		width: $icon-size;
		vertical-align: middle;
	}

	&__text {
		display: inline-block;
		margin-left: 4px;
		vertical-align: middle;
	}
}