﻿@import '../common/_Variables.scss';

.report {
	border: 1px solid $border-color;
	margin: 20px 5px 5px 5px;
	max-width: 800px;

	&:first-child {
		margin-top: 5px;
	}

	&__body {
		padding: 20px;
	}

	&__footer {
		border-top: 1px solid $border-color;
		color: $primary-color;
		padding: 12px;
		text-align: center;
	}
}