﻿// sizes:
$header-height: 64px;
$menu-width: 250px;
$min-width: 320px;
$small-screen: 768px;

// main colors:
$primary-color: #1c7cd6;
$background-color: #f8f9fa;
$menu-background-color: #fff;
$menu-link-color: #000;
$hover-color: #f1f3f5;
$selected-color: #e8f7ff;
$menu-icon-color: #12b886;
$border-color: #e2e2e2;

// button and forms colors:
$btn-default-border-color: #ced4da;
$btn-default-hover-color: #e9ecef;
$btn-default-focus-color: $btn-default-hover-color;
$success-color: #40c057;
$danger-color: #d9534f;
$danger-hover-color: #c9302c;

// user icon colors:
$pink: #e64980;
$green: #12b886;
$lime: #82c91e;
$purple: #7950f2;
$indigo: #4c6ef5;
$amber: #fab005;
$teal: #15aabf;

// z-index layering:
$google-auto-complete-z-index: 10000; // needs to show above modal overlays
$layout-menu-z-index: 1000;
$header-z-index: 1000;
$loading-overlay-z-index: 999;
$search-input-icon-z-index: 998;