@import './_Variables.scss';

.btn {
	&,
	&:hover {
		border: 0;
		border-color: transparent;
		font-weight: 500;
		outline: 0;
	}

	&:active,
	&:active:focus,
	&:focus {
		outline: 0;
	}

	&.btn-default {
		&,
		&:hover,
		&:focus {
			border: 1px solid $btn-default-border-color;
			color: #000;
		}

		&:hover,
		&:focus {
			background: $btn-default-hover-color;
		}

		&:focus {
			box-shadow: 0 0 0 2px $btn-default-focus-color;
		}
	}

	&.btn-primary {
		background-color: lighten($primary-color, 3.5%);

		&:hover,
		&:active,
		&:focus {
			background-color: $primary-color;
		}

		&:focus {
			box-shadow: 0 0 0 2px lighten($primary-color, 27%);
		}
	}

	&.btn-success {
		background-color: $success-color;
	
		&:hover,
		&:active,
		&:focus {
			background-color: darken($success-color, 3.5%);
		}

		&:focus {
			box-shadow: 0 0 0 2px lighten($success-color, 23%);
		}
	}

	&.btn-danger {
		&:active,
		&:focus {
			background-color: $danger-hover-color;
			box-shadow: 0 0 0 2px lighten($danger-hover-color, 25%);
		}
	}
}