﻿@import './_Variables.scss';

.form-control {
	box-shadow: none;

	&:focus {
		border-color: #228ae6;
		box-shadow: 0 0 0 2px #a3daff;
	}
}

.has-error {
	.control-label {
		color: $danger-color;
	}

	.form-control {
		&,
		&:focus {
			border-color: $danger-color;
		}

		&:focus {
			box-shadow: 0 0 0 2px #ffc9c9;
		}

		&-feedback {
			color: $danger-color;
		}
	}
}

$success: darken($success-color, 10%);

.has-success {
	.control-label {
		color: $success;
	}

	.form-control {
		&,
		&:focus {
			border-color: $success;
		}

		&:focus {
			box-shadow: 0 0 0 2px lighten($success, 35%);
		}

		&-feedback {
			color: $success;
		}
	}
}