﻿@import './_Variables.scss';

.link {
	&,
	&:hover,
	&:visited,
	&:active {
		color: $primary-color;
	}

	&--external::after {
		content: '\e164'; /* glyphicon-new-window */
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		margin-left: 4px;
	}
}