﻿@import './_Variables.scss';

.loading-overlay {
	background: rgba(255,255,255,.6);
	height: 100%;
	left: 0px;
	position: fixed;
	top: $header-height;
	width: 100%;
	z-index: $loading-overlay-z-index;

	&__spinner {
		left: 50%;
		position: fixed;
		top: 250px;
	}
}

$spinner-size: 48px;
$spinner-track-color: #f3f3f3;
$animation: spin .75s ease-in-out infinite;

/* copied from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader and tweaked to match progressui */
.loading-spinner {
	animation: $animation;
	border: 3px solid $spinner-track-color;
	border-radius: 50%; 
	border-top: 3px solid lighten($primary-color, 7%);
	height: $spinner-size;
	width: $spinner-size;
	-webkit-animation: $animation; /* Safari */
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}