﻿@import './_Variables.scss';

.form-search {
	position: relative;

	&::before {
		background-position: -48px 0;
		content: '\e003'; /* glyphicon-search */
		display: block;
		font-family: 'Glyphicons Halflings';
		height: 14px;
		left: 10px;
		opacity: .5;
		position: absolute;
		top: 8px;
		width: 14px;
		z-index: $search-input-icon-z-index;
	}

	&__input {
		padding: {
			left: 30px;
			right: 24px;
		}

		&::-ms-clear {
			display: none;
		}
	}

	&__clear {
		color: $primary-color;
		cursor: pointer;
		font-size: 12px;
		pointer-events: auto;
		z-index: $search-input-icon-z-index;
	}
}