﻿@import './_Variables.scss';

.toast {
	border-radius: 4px;
	min-height: 60px;
	padding-left: 10px;

	&__messages {
		list-style: none;
		padding-left: 0;
	}

	&__message {
		margin-top: 2px;
	}

	&__icon {
		padding: {
			right: 6px;
			top: 2px;
		}
	}
}

.Toastify__toast--success {
	background: $success-color;
}

.Toastify__toast--error {
	background: $danger-color;
}