﻿@import '../common/_Variables.scss';

.header {
	background: $primary-color;
	color: #fff;
	height: $header-height;
	left: 0;
	min-width: $min-width;
	padding: {
		left: 16px;
		top: 16px;
	}
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $header-z-index;

	&__home-link {
		&,
		&:hover,
		&:focus,
		&:visited {
			color: #fff;
			margin-left: 4px;
			text-decoration: none;
		}
	}

	&__logo {
		height: 28px;
	}

	&__app-name {
		display: inline;
		line-height: 1.4;
		font: {
			size: 20px;
			weight: 400;
		}
		margin-left: 10px;
		vertical-align: middle;
	}

	&__profile-menu {
		margin: {
			right: 21px;
			top: 9px;
		}
	}
}