﻿@import '../common/_Variables.scss';

body {
	background: $background-color;
}

.layout {
	height: 100%;
	min-width: $min-width;
	position: relative;
	width: 100%;

	&__body {
		/*background: $background-color;*/
		height: 100%;
		margin-top: $header-height;
		/*min-height: 100vh;*/
	}

	&__menu {
		background: $menu-background-color;
		border-right: 1px solid $border-color;
		bottom: 0;
		overflow-y: auto;
		position: fixed;
		top: $header-height;
		width: $menu-width;
		z-index: $layout-menu-z-index;

		@media (max-width: $small-screen) {
			border-right: 0;
			bottom: unset;
			max-height: 0;
			transition: max-height 0.4s ease;
			width: 100%;
		}
	}

	&__content {
		height: 100%;
		margin-left: $menu-width;
		padding: 20px;

		@media (max-width: $small-screen) {
			margin-left: 0;
		}
	}

	&__menu--open {
		@media (max-width: $small-screen) {
			border-bottom: 1px solid $border-color;
			max-height: 500px; /* trick for transitioning to whatever size content is */
		}
	}
}