﻿@import '../common/_Variables.scss';

.toggle-menu {
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 20px;
	line-height: 1;
	padding: 6px 9px;
	vertical-align: middle;

	&:hover {
		background: rgba(33,37,41,.3);
		color: #fff;
	}

	@media (max-width: $small-screen) {
		display: inline-block;
	}
}