﻿@import '../common/_Variables.scss';

.nav-menu {
	&__link {
		display: block;
		font-size: 14px;
		overflow: hidden;
		padding: 6px 16px;
		text-overflow: ellipsis;
		white-space: nowrap;

		&,
		&:hover, 
		&:focus {
			color: $menu-link-color;
		}

		&:hover {
			background: $hover-color;
		}

		&--active,
		&--active:hover {
			background: $selected-color;
		}

		&-text {
			display: inline-block;
			margin-left: 8px;
			vertical-align: middle;
		}
	}

	$menu-icon-size: 24px;

	&__icon {
		background: $menu-icon-color;
		border-radius: 4px;
		color: #fff;
		display: inline-block;
		font-size: 11px;
		height: $menu-icon-size;
		line-height: $menu-icon-size;
		text-align: center;
		vertical-align: middle;
		width: $menu-icon-size;
	}
}