﻿@import '../common/_Variables.scss';

$user-icon-size: 32px;

.user-icon {
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-style: normal;
	height: $user-icon-size;
	line-height: $user-icon-size;
	position: relative;
	text-align: center;
	width: $user-icon-size;

	&--pink {
		background-color: $pink;
	}

	&--green {
		background-color: $green;
	}

	&--lime {
		background-color: $lime;
	}

	&--purple {
		background-color: $purple;
	}

	&--indigo {
		background-color: $indigo;
	}

	&--amber {
		background-color: $amber;
	}

	&--teal {
		background-color: $teal;
	}
}