﻿.user-info {
	font-size: 12px;
	padding: 5px;

	&__name {
		color: #228ae6;
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
		height: 32px;
		margin-left: 10px;
		vertical-align: middle;
	}

	&__details {
		list-style: none;
		padding-left: 16px;
	}

	&__detail {
		margin-top: 4px;
	}

	&__detail-icon {
		color: #afadad;
	}
}